.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
temp/
temp.yaml
bin
**/testdata
**/testdata/*

*.protocol
*.driver


*.tar
ems
#application/application
#!application/manifest/web
tmp
*.sum
out/
go.sum



build/
*.o
*.a
*.so
*.dylib
*.dll





@cpp/build